@import "modules/_mediaqueries.scss";

body {
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
  }

p, h1, h2, h3, h4, h5, h6, a, label, span, .info {
    color: Black;
    font-family: 'Quicksand', Arial, sans-serif;
}

.container {
    @media only screen and (min-width: 768px){
        margin: 0 auto;
        flex: 1 0 auto;
    }
    margin: 0 auto;
    flex: 1 0 auto;
    // background-color: red;
}

// Header Starts---------------------------------------

.logoPart {
    @media only screen and (min-width: 768px){
        margin-left: 40px;
        margin-top: 0;
    }
    margin: 0 auto;
    margin-top: 10px;
}

form {
    margin: auto;
    // background-color: green;
    display: flex;
    flex-direction: row;
    @media only screen and (min-width: 768px){
        padding: 0;
    }
}

.searchbar {
    @media only screen and (min-width: 768px){
        padding: 7px;
        margin-right: 10px;
        max-width: 75vh;
        width: 100%;
    }
    border-radius: 10px;
    font-family: 'Quicksand', Arial, sans-serif;
    width: 100%;
    padding: 7px;
    
}

.searchbutton {
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: 'Quicksand', Arial, sans-serif;
    cursor: pointer;
    &:hover {
        background-color: grey;
    }
}

.filterNavigation {
    hr {
        border-top: 1px solid;
    }
    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 12px;
        @media only screen and (min-width: 768px){
            flex-direction: row;
            text-align: center;
            margin-bottom: 0px;
        }
    }
    a {
        @media only screen and (min-width: 768px){
            margin-right: 20px;
            font-size: 25px;
            &:hover {
                color: rgb(0, 0, 0);
                background-color: white;
            }
            color: white;
            // background-color: rgb(0, 0, 0);
            border-radius: 8px;
            padding: 5px;
            text-decoration: none;
        }
        color: white;
        text-decoration: none;
        font-size: 25px;
    }
    @media only screen and (min-width: 768px){
        margin-right: 40px;
        margin-top: 7px;
    }
}

.headNavigation {
    @media only screen and (min-width: 768px){
        margin-bottom: 20px;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        background-color: rgb(155, 155, 155);
        justify-content: space-between;
    }
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 155, 155);
}


// Header Ends---------------------------------------

.movie-disp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // background-color: rgb(91, 202, 91);
}

.movie-item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    
    img {
        margin-bottom: 10px;
        
        &:hover {
            cursor: pointer;
            -webkit-filter: drop-shadow(10px 7px 10px #000);
            filter: drop-shadow(10px 7px 10px #000);
        }
    }
    a {
        // background-color: yellow;
        margin-bottom: 15px;
        margin: 0 auto;
        color: blue;
        font-weight: 600;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            text-decoration-color: black;
        }
        

    }
    h2 {
        @media only screen and (min-width: 1100px){
            font-size: 1vw;
        }
        @media only screen and (max-width: 1099px){
            font-size: 2vw;
        }
        @media only screen and (max-width: 767px){
            font-size: 4vw;
        }
        @media only screen and (max-width: 599px){
            font-size: 6vw;
        }
        text-align: center;
        
    }
}

// DROPDOWN STARTS ------------------

.dropdown {
    .dropbtn {
        display: none;
    }
    @media only screen and (min-width: 768px){
        position: relative;
        display: inline-block;
        .dropbtn {
            display: inline-block;
            font-family: 'Quicksand', Arial, sans-serif;
            font-weight: 800;
            font-size: 1.5vh;
        }
    }
  }
  
  .dropdown-content {
    @media only screen and (min-width: 768px){
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        // padding: 12px 16px;
        z-index: 1;
        font-size: 1.5vh;
        a {
            text-decoration: none;
            padding: 0px 50px 0 15px;
            &:hover {
                background-color: #929292;
            }
        }
        ul {
            line-height: 30px;
            
        }
    }
    @media only screen and (max-width: 767px){
        display: flex;
        // flex-direction: row;
        justify-content: space-evenly;
        
        margin-top: 20px;
        a {
            text-align: center;
            font-weight: 600;
            text-decoration: none;
            background-color: rgb(155, 155, 155);
            border-radius: 10px;
            padding: 0.7vh;
            padding-top: 15px;
            padding-bottom: 15px;
            &:hover {
                background-color: grey;
            }
        }
    }
    @media only screen and (max-width: 599px){
        a {
            padding: 0.4vh;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
  }
  
  .dropdown:hover .dropdown-content {
    @media only screen and (min-width: 768px){
        display: block;
    }
  }

// DETAILS STARTS --------------------------

.movie-disp-details {
    @media only screen and (min-width: 768px){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    // background-color: rgb(91, 202, 91);
    
}

.movie-item-details {
    // background-color: rgb(93, 191, 236);
    h2 {
        font-size: 28px;
        margin-top: 10px;
        @media only screen and (min-width: 768px){
            text-align: left;
            margin-top: 0;
        }
        text-align: center;
    }
    img {
        margin-top: 15px;
    }
}

.details-info {
    
    text-align: center;
    min-height: 20vh;
    @media only screen and (min-width: 768px){
        min-height: 33vh;
        padding: 20px;
        border: 1px dashed;
        border-radius: 10px;
        text-align: left;
    }
    
    // background-color: rgb(245, 128, 128);
    @media only screen and (min-width: 600px){
        border: 1px dashed;
        border-radius: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 15px;
        color: red;
    }
    button {
        @media only screen and (min-width: 768px){
            margin-top: 50px;
        }
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 10px;
        color: white;
        background-color: black;
    }
}

.details-desc {
    margin-top: 30px;
    h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    p {
        margin-top: 10px;
        font-size: 16px;
    }
    margin-bottom: 20px;
    // background-color: rgb(241, 239, 113);
}

// DETAILS ENDS --------------------------

// FOOTER ---------------------------

footer {
    background-color: rgb(155, 155, 155);
    padding-top: 10px;
    padding-bottom: 20px;
    flex-shrink: 0;
    margin-top: 20px;
    p {
        font-size: 16px;
        text-align: right;
        margin-right: 20px;
        color: white;
    }
    
}


// Admin Index

.options {
    a {
        text-align: center;
        font-weight: 600;
        text-decoration: none;
        background-color: rgb(155, 155, 155);
        border-radius: 10px;
        padding: 0.7vh;
        padding-top: 15px;
        padding-bottom: 15px;
        &:hover {
            background-color: grey;
         }
    }
}