body {
    // background-color: grey;
    // width: 100%;
    // height: 100%;
    // left: 0;
    // top: 0;
    // z-index: 10;
    display: flex;
  flex-direction: column;
}

html, body {
    height: 100%;
  }

p, h1, h2, h3, h4, h5, h6, a, label, span, .info {
    color: Black;
    font-family: 'Quicksand', Arial, sans-serif; //fontu eklemeyi unutma
}

.container {
    @media only screen and (min-width: 768px){
        width: 50%;
        margin: 0 auto;
        flex: 1 0 auto;
    }
    width: 100%;
    margin: 0 auto;
    flex: 1 0 auto;
    background-color: red;
}

// Header Starts---------------------------------------

.logoPart {
    @media only screen and (min-width: 768px){
        margin-left: 40px;
        margin-top: 0;
    }
    margin: 0 auto;
    margin-top: 10px;
    // width: 50%;
    // margin: 0 auto;
}

.filterNavigation {
    margin: 0 auto;
    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        @media only screen and (min-width: 768px){
            flex-direction: row;
        }
    }
    a {
        margin-right: 20px;
        font-size: 25px;
        &:hover {
            color: rgb(0, 0, 0);
            background-color: white;
        }
        color: white;
        // background-color: rgb(0, 0, 0);
        border-radius: 8px;
        padding: 5px;
        text-decoration: none;
    }
    @media only screen and (min-width: 768px){
        margin-right: 40px;
        margin-top: 7px;
    }
}

.headNavigation {
    @media only screen and (min-width: 768px){
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        background-color: rgb(155, 155, 155);
        justify-content: space-between;
    }
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 155, 155);
}


// Header Ends---------------------------------------

.movie-disp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // background-color: rgb(91, 202, 91);
    // justify-content: space-around;
    // margin-left: 320px; // FILTRELEME YERLESTIRDIKTEN SONRA SIL -------  
    // padding-left: 40px; // FILTRELEME YERLESTIRDIKTEN SONRA SIL -------  
}

.movie-item {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-decoration: none;
    width: 250px;
    img {
        width: 250px;
        &:hover {
            cursor: pointer;
            -webkit-filter: drop-shadow(10px 7px 10px #000);
            filter: drop-shadow(10px 7px 10px #000);
        }
    }
    a {
        margin-bottom: 15px;
        text-align: center;
        color: blue;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            text-decoration-color: black;
        }
        

    }
    h2 {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
}

// DETAILS STARTS --------------------------

.movie-disp-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 20px;
    // background-color: rgb(91, 202, 91);
}

.movie-item-details {
    display: flex;
    flex-direction: column;
    // background-color: rgb(93, 191, 236);
    h2 {
        font-size: 28px;
        margin-top: 50px;
    }
    img {
        width: 400px;
        margin-top: 15px;
    }
}

.details-info {
    max-width: 300px;
    min-width: 300px;
    min-height: 450px;
    max-height: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    // background-color: rgb(245, 128, 128);
    border: 1px dashed;
    border-radius: 10px;
    margin-top: 50px;
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 15px;
        color: red;
    }
    button {
        margin-top: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: -40px;
    }
}

.details-desc {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    p {
        margin-top: 10px;
        font-size: 16px;
    }
    margin-bottom: 20px;
    // background-color: rgb(241, 239, 113);
}

// DETAILS ENDS --------------------------

// FOOTER ---------------------------

footer {
    background-color: rgb(155, 155, 155);
    padding-top: 10px;
    padding-bottom: 20px;
    flex-shrink: 0;
    p {
        font-size: 16px;
        text-align: right;
        margin-right: 20px;
        color: white;
    }
    
}