body {
    // background-color: grey;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

p, h1, h2, h3, h4, h5, h6, a, label, span, .info {
    color: Black;
    font-family: 'Quicksand', Arial, sans-serif; //fontu eklemeyi unutma
}

// Header Starts---------------------------------------

.logoPart {
    margin-left: 40px;
}

.filterNavigation {
    margin-right: 40px;
    margin-top: 7px;
    a {
        margin-right: 20px;
        font-size: 25px;
        &:hover {
            color: rgb(0, 0, 0);
            background-color: white;
        }
        color: white;
        background-color: rgb(0, 0, 0);
        border-radius: 8px;
        padding: 5px;
        text-decoration: none;
    }
}

.headNavigation {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    background-color: cyan;
    justify-content: space-between;
}


// Header Ends---------------------------------------

.movie-disp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(91, 202, 91);
    // justify-content: space-around;
    margin-left: 320px; // FILTRELEME YERLESTIRDIKTEN SONRA SIL -------  
    padding-left: 40px; // FILTRELEME YERLESTIRDIKTEN SONRA SIL -------  
}

.movie-item {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-decoration: none;
    width: 250px;
    img {
        width: 250px;
        &:hover {
            cursor: pointer;
            -webkit-filter: drop-shadow(10px 7px 10px #000);
            filter: drop-shadow(10px 7px 10px #000);
        }
    }
    a {
        margin-bottom: 15px;
        text-align: center;
        color: blue;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            text-decoration-color: black;
        }
        

    }
    h2 {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
}

// DETAILS STARTS --------------------------

.movie-disp-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 20px;
    background-color: rgb(91, 202, 91);
}

.movie-item-details {
    display: flex;
    flex-direction: column;
    background-color: rgb(93, 191, 236);
    h2 {
        font-size: 35px;
    }
    img {
        width: 400px;
    }
}

.details-info {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 128, 128);
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
}

.details-desc {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    margin-bottom: 20px;
    background-color: rgb(241, 239, 113);
}

// DETAILS ENDS --------------------------

// FOOTER ---------------------------

footer {
    background-color: violet;
    padding-top: 10px;
    padding-bottom: 20px;
    p {
        font-size: 16px;
        text-align: right;
        margin-right: 20px;
        
    }
}